@model Shipment

@{
    ViewData["Title"] = "Edit";
    Layout = "_AdminLayout";
}

<h4>Edit a Shipment</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Carrieer" class="control-label"></label>
                <input asp-for="Carrieer" class="form-control" />
                <span asp-validation-for="Carrieer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrackingNumber" class="control-label"></label>
                <input asp-for="TrackingNumber" class="form-control" />
                <span asp-validation-for="TrackingNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingDate" class="control-label"></label>
                <input asp-for="ShippingDate" class="form-control" />
                <span asp-validation-for="ShippingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstimatedDeliveryDate" class="control-label"></label>
                <input asp-for="EstimatedDeliveryDate" class="form-control" />
                <span asp-validation-for="EstimatedDeliveryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingCost" class="control-label"></label>
                <input asp-for="ShippingCost" class="form-control" />
                <span asp-validation-for="ShippingCost" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="OrderId" class="control-label"></label>
                <input asp-for="OrderId" class="form-control" />
                <span asp-validation-for="OrderId" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary mt-4">
                <i class="bi bi-check"></i>
                Save
            </button>
            <a class="btn btn-secondary mt-4" asp-controller="Product" asp-action="List">
                <i class="bi bi-x"></i>
                Cancel
            </a>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
