<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - E-commerce</title>
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true"/>
     <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

</head>
<body>
    <header >
        <nav class="navbar" data-bs-theme="light">
            <div class="container-fluid">
                <div>
                    <div class="d-flex align-items-center">
                        <a class="navbar-brand text-dark me-3 fw-bold" asp-controller="Home" asp-action="Index">E-Commerce</a>
                        @await Component.InvokeAsync("CategoryMenu")
                    </div>

                    @if (User.Identity!.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <div class="dropdown d-inline-block">
                            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                Actions List
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="nav-link" asp-controller="Product" asp-action="List">Product List</a></li>
                                <li><a class="nav-link" asp-controller="Category" asp-action="List">Category List</a></li>
                                <li><a class="nav-link" asp-controller="Discount" asp-action="List">Discounts List</a></li>
                                <li><a class="nav-link" asp-controller="Order" asp-action="List">Order List</a></li>
                                <li><a class="nav-link" asp-controller="User" asp-action="UsersList">Users List</a></li>
                                <li><a class="nav-link" asp-controller="User" asp-action="RolesList">Roles List</a></li>
                            </ul>
                        </div>
                    }
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    @if (!User.IsInRole("Admin"))
                    {
                        <div class="cart-wishlist-container">
                            @await Component.InvokeAsync("ShoppingCartSummary")
                            <a class="btn btn-warning me-2" asp-controller="Wishlist" asp-action="Index"><i class="fa fa-heart"></i> Wishlist (0)</a>
                        </div>
                    }
                    <div class="user-info-container">
                        <partial name="_LoginPartial" />
                    </div>
                </div>

                </div>
        
                @if (!User.IsInRole("Admin"))
                {
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                            </ul>
                        </div>
                    </div>
                }
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("NToastNotify")
</body>
</html>
