@model Order

@{
    ViewData["Title"] = "Create";
    Layout = "_CustomLayout";
}

@if(Model.OrderId > 0)
{
    <h4>Edit Order</h4>
    <hr />
}

<form asp-action="@(Model.OrderId > 0 ? "Edit" : "Checkout")">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @if (Model.OrderId > 0)
    {
        <input type="hidden" asp-for="OrderId" />
        <input type="hidden" asp-for="CustomerInfo.CustomerInfoId" />
        <input type="hidden" asp-for="CustomerInfo.AppUserId" />
    }
    @if (Model.OrderId == 0)
    {
        <h3 class="text-center mb-3">
            You're just one step away from your order
        </h3>
        <hr />
    }
    <div class="col-6">
        <div class="row g-2">

            @if(Model.OrderId > 0)
            {
                <div class="col-12">
                    <label asp-for="Status" class="form-label">Status:</label>
                    <select asp-for="Status" class="form-select">
                        <option value="Pending">Pending</option>
                        <option value="Confirmed">Confirmed</option>
                        <option value="Shipped">Shipped</option>
                        <option value="Delivered">Delivered</option>
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            }
            <div class="col-12">
                <label asp-for="CustomerInfo!.FirstName" class="form-label">First name:</label>
                <input asp-for="CustomerInfo!.FirstName" class="form-control" />
                <span asp-validation-for="CustomerInfo!.FirstName" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label asp-for="CustomerInfo!.LastName" class="form-label">Last name:</label>
                <input asp-for="CustomerInfo!.LastName" class="form-control" />
                <span asp-validation-for="CustomerInfo!.LastName" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label asp-for="CustomerInfo!.AddressLine1" class="form-label">Address Line 1:</label>
                <input asp-for="CustomerInfo!.AddressLine1" class="form-control" />
                <span asp-validation-for="CustomerInfo!.AddressLine1" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label asp-for="CustomerInfo!.AddressLine2" class="form-label">Address Line 2:</label>
                <input asp-for="CustomerInfo!.AddressLine2" class="form-control" />
                <span asp-validation-for="CustomerInfo!.AddressLine2" class="text-danger"></span>
            </div>
            <div class="col-6">
                <label asp-for="CustomerInfo!.City" class="form-label">City:</label>
                <input asp-for="CustomerInfo!.City" class="form-control" />
                <span asp-validation-for="CustomerInfo!.City" class="text-danger"></span>
            </div>
            <div class="col-6">
                <label asp-for="CustomerInfo!.State" class="form-label">State:</label>
                <input asp-for="CustomerInfo!.State" class="form-control" />
                <span asp-validation-for="CustomerInfo!.State" class="text-danger"></span>
            </div>
            <div class="col-6">
                <label asp-for="CustomerInfo!.ZipCode" class="form-label">ZipCode:</label>
                <input asp-for="CustomerInfo!.ZipCode" class="form-control" />
                <span asp-validation-for="CustomerInfo!.ZipCode" class="text-danger"></span>
            </div>
            <div class="col-6">
                <label asp-for="CustomerInfo!.Country" class="form-label">Country:</label>
                <input asp-for="CustomerInfo!.Country" class="form-control" />
                <span asp-validation-for="CustomerInfo!.Country" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label asp-for="CustomerInfo!.Landmark" class="form-label">Email:</label>
                <input asp-for="CustomerInfo!.Landmark" class="form-control" />
                <span asp-validation-for="CustomerInfo!.Landmark" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label asp-for="CustomerInfo!.PhoneNumber" class="form-label">Phone Number:</label>
                <input asp-for="CustomerInfo!.PhoneNumber" class="form-control" />
                <span asp-validation-for="CustomerInfo!.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="mt-2">
                <div col-md-offset-2 col-md-5>
                    <input type="submit" class="btn btn-success" value="Order Complete" />
                    <a asp-action="List" class="btn btn-secondary">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

